  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    user-select: none;
}

.container {
    margin-top: 100px;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 3px 3px;
}
.display #screen {
    margin-bottom: 30px;
    width: auto;
    height: 70px;
    font-size: 35px;
    border-radius: 6px;  
    box-shadow: 3px 3px;
}

.row button {
    width: 60px;
    height: 30px;
    font-size: 16px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 1px 1px;
}


